<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    {{
      craft.vite.script("src/js/app.ts")
    }}
  </head>
  <body class="ltr">
    <!-- Header -->
    <header>
      <nav
        class="border-blue-500 px-14 py-2 border-2 flex items-center justify-between uppercase"
      >
        <div
          class="w-[257px] h-[100px] border-red-500 border-2 flex justify-center items-center"
        >
          Logo
        </div>
        <!-- Navigation Menu -->
        <ul class="flex justify-center items-center gap-12 font-semibold">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
        </ul>
      </nav>
      <!-- End Navigation Menu -->
    </header>
    <!-- End Header -->
    <!-- Main Content -->
    <main class="container my-20">
      {% block content %}{% endblock %}
    </main>
    <!-- End Main Content -->
    <!-- Footer -->
    <footer
      class="0 h-16 border-blue-500 px-4 py-2 border-2 flex items-center justify-center"
    >
      Footer
    </footer>
    <!-- End Footer -->
  </body>
</html>
