@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
  /* Button styles */
  .btn {
    @apply inline-block rounded border-[1px] border-neutral-300 px-5 py-3 text-sm font-semibold uppercase tracking-widest no-underline duration-200 hover:border-neutral-500;
  }
}
